// 文字颜色
$color-333: #333333;
$color-666: #666666;
$color-999: #999999;
.color-e32417{
  color: #e32417;
}
.color-333{
  color: #333333 !important;
}
.color-666{
  color: #666666;
}
.color-999{
  color: #999999;
}