  .amap-logo {
        right: 0 !important;
        left: auto !important;
        display: none !important;
    }
    .amap-copyright {
        right: 70px !important;
        left: auto !important;
        opacity:0 !important;
    }
#app {
  height: 100%;
  width: 100%;
  font-size: 14px;
}

* {
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  height: 100%;
  line-height: 1.15;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Microsoft YaHei;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  vertical-align: top;
  border: none;
}

.clearf:after,
.clearf:before {
  content: "";
  display: block;
  clear: both;
}